<f:flashMessages />
<f:if condition="{uploadForm}">
    <div class="upload-result">
        Uploads:
        <ul>
            <f:for each="{uploadForm.files}" as="file">
                <li>{file.clientFilename}, {file.size} bytes</li>
            </f:for>
        </ul>
    </div>
</f:if>

<f:form action="upload" name="uploadForm" enctype="multipart/form-data" pluginName="Upload">
    <f:form.hidden property="hidden" value="test123" />
    <label for="upload-file">Select a file</label>
    <f:form.upload property="files" multiple="1" id="upload-file" />
    <button type="submit" name="action">Upload</button>
</f:form>
